# Домашнее задание № 1 (Apache Spark SQL)

**Цель**: Решить 5 задач на SQL с использованием базовых таблиц.

**Инструкции**:
0. Прочитать условия ДЗ
1. Выполнить задание на SQL;
2. Ознакомиться с документацией по SQL: [Ссылка](https://spark.apache.org/docs/latest/sql-ref.html);
3. Создать ноутбук с решениями задач (создайте копию на основе этого шаблона);
4. Каждый запрос должен содержать обязательные комментарии с объяснением логического смысла решения;
5. Скачать ноутбук в формате .ipynb и отправить на адрес электронной почты: ilya+hse@aniskovets.com.

**Оценка и дедлайн**:
- Максимальная оценка - 5 баллов;
- Дедлайн: 24.05.2023 23:59;
- Оценки будут опубликованы после сдачи **всех двух** домашних заданий.

**Таблицы**:
Для выполнения задания предполагается использование следующих таблиц, загруженных в систему в формате CSV с типами полей STRING:

- title_basics_csv
- title_principals_csv
- title_crew_csv
- title_episode_csv
- title_ratings_csv
- title_akas_csv
- name_basics_csv

**Преобразование типов**:
Для преобразования STRING в другой тип используйте конструкцию:
```sql
CAST (column_name AS TYPE) AS column_name
```

**Пример**
```sql
CREATE TABLE test_table USING PARQUET AS
  SELECT
    CAST(averageRating AS decimal(2,1))  AS averageRating
  FROM test_table_csv
```

**Все подготовительные этапы по преобразованию типов нужно делать в разделе Initialization. После чего, рекомендуется использовать в запросах таблицы в формате PARQUET**

Перед этим не мешает проверить, что значения влезают в размерности этого типа
Список типов SQL: https://spark.apache.org/docs/latest/sql-ref-datatypes.html

Домашнее задание необходимо сделать в виде ноутбука. Ноутбук должен запускаться без ошибок.

Во всех задачах ответом должно быть только ОДНО значение (число или строка).

Неправильный ответ - 0 баллов за задачу.
Правильный ответ на все тесты 1 балл за задачу, иначе пропорционально количеству пройденных тестов (количество тестов и какие именно заранее неизвестны).

**ВНИМАНИЕ! К каждому запросу необходимо писать комментарии. Комментарии должны обьяснять логический смысл решения. Отсутствие комментария к решению задачи штраф - оценка за задачу = оценка / 2!**

Всего 5 задач и 5 баллов

**В режиме проверки SQL запросы будут запускаться с любыми параметрами, отличными от тех, что вы выбрали.**

Скрипты не должны зависеть от выбранного вами параметра, а также от регистра строки. Все параметры должны быть изменяемыми (смотрите, пример в Вопросе № 0)

**Тестирование будет проводится с любым значением параметров, в том числе с отсутвующим в датасете, запрос должен выводить правильный результат!**

SQL запрос в ответе всегда должен быть один и параметризирован. Если необходимо пользуйтесь конструкцией WITH name AS () -  пример ниже

После завершения работы нажимайте в меню File/Download/Download ipnb, скачивайте файл и присылайте почтой на ilya+hse@aniskovets.com

Если заметили опечатки или появились вопросы пишите в телеграм: @aigmx

In [ ]:
!pip install pyspark===3.4.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark===3.4.0 in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark===3.4.0) (0.10.9.7)

In [ ]:
!curl -O https://mars.ru77.ru/data/title.basics.tsv.gz
!curl -O https://mars.ru77.ru/data/title.crew.tsv.gz
!curl -O https://mars.ru77.ru/data/title.episode.tsv.gz
!curl -O https://mars.ru77.ru/data/title.principals.tsv.gz
!curl -O https://mars.ru77.ru/data/title.ratings.tsv.gz
!curl -O https://mars.ru77.ru/data/title.akas.tsv.gz
!curl -O https://mars.ru77.ru/data/name.basics.tsv.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  132M  100  132M    0     0  10.5M      0  0:00:12  0:00:12 --:--:-- 15.4M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 51.7M  100 51.7M    0     0  7467k      0  0:00:07  0:00:07 --:--:-- 11.3M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 29.6M  100 29.6M    0     0  5807k      0  0:00:05  0:00:05 --:--:-- 6238k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  342M  100  342M    0     0  11.2M      0  0:00:30  0:00:30 --:--:-- 13.9M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 5526k  100 5526k    0     0  1545k      0  0:00:03  0:00:03 --:--:-- 1545k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  214M  100  214M    0     0  12.4M      0  0:00:17  0:00:17 --:--:-- 15.0M
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  202M  100  202M    0     0  12.0M      0  0:00:16  0:00:16 --:--:-- 15.3M

In [ ]:
from pyspark.sql import SparkSession, SQLContext
from pyspark import SparkConf, SparkContext

spark = SparkSession.builder.master("local[2]").config("spark.driver.memory", "8g").appName("vse").enableHiveSupport().getOrCreate()
sql = spark.sql

In [ ]:

title_basics_csv = spark.read.csv("title.basics.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_basics_csv.createOrReplaceTempView("title_basics_csv")


title_principals_csv = spark.read.csv("title.principals.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_principals_csv.createOrReplaceTempView("title_principals_csv")


title_crew_csv = spark.read.csv("title.crew.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_crew_csv.createOrReplaceTempView("title_crew_csv")


title_episode_csv = spark.read.csv("title.episode.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_episode_csv.createOrReplaceTempView("title_episode_csv")


title_ratings_csv = spark.read.csv("title.ratings.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_ratings_csv.createOrReplaceTempView("title_ratings_csv")


title_akas_csv = spark.read.csv("title.akas.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
title_akas_csv.createOrReplaceTempView("title_akas_csv")


name_basics_csv = spark.read.csv("name.basics.tsv.gz", sep='\\t', nullValue='\\N', header=True, quote="", escape="")
name_basics_csv.createOrReplaceTempView("name_basics_csv")

In [ ]:
# Initialization
_ = sql("""DROP TABLE IF EXISTS title_basics""").collect()
_ = sql("""CREATE TABLE title_basics STORED AS PARQUET SELECT titleType, primaryTitle,
          EXPLODE(SPLIT(genres, ',')) AS genres, tconst,
          CAST(startYear AS INT), CAST(runtimeMinutes AS FLOAT)
          FROM title_basics_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS title_principals""").collect()
_ = sql("""CREATE TABLE title_principals STORED AS PARQUET SELECT * FROM title_principals_csv""").collect()


_ = sql("""DROP TABLE IF EXISTS title_crew""").collect()
_ = sql("""CREATE TABLE title_crew STORED AS PARQUET SELECT
          tconst,
          EXPLODE(SPLIT(writers, ',')) AS writers
          FROM title_crew_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS title_episode""").collect()
_ = sql("""CREATE TABLE title_episode STORED AS PARQUET SELECT * FROM title_episode_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS title_ratings""").collect()
_ = sql("""CREATE TABLE title_ratings STORED AS PARQUET SELECT
          tconst, CAST(averageRating AS FLOAT)
          FROM title_ratings_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS title_akas""").collect()
_ = sql("""CREATE TABLE title_akas STORED AS PARQUET SELECT
          CAST(titleId AS INT)
          FROM title_akas_csv""").collect()

_ = sql("""DROP TABLE IF EXISTS name_basics""").collect()
_ = sql("""CREATE TABLE name_basics STORED AS PARQUET SELECT
          nconst, primaryName
          FROM name_basics_csv""").collect()

In [ ]:
sql("DESCRIBE FORMATTED title_basics").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_principals").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_crew").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_episode").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_ratings").show(50, truncate=False)
sql("DESCRIBE FORMATTED title_akas").show(50, truncate=False)
sql("DESCRIBE FORMATTED name_basics").show(50, truncate=False)

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|titleType                   |string                                                        |null   |
|primaryTitle                |string                                                        |null   |
|genres                      |string                                                        |null   |
|tconst                      |string                                                        |null   |
|startYear                   |int                                                           |null   |
|runtimeMinutes              |float                                                         |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_basics                                                  |       |
|Owner                       |root                                                          |       |
|Created Time                |Mon May 22 19:12:06 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684782726]                            |       |
|Location                    |file:/content/spark-warehouse/title_basics                    |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|ordering                    |string                                                        |null   |
|nconst                      |string                                                        |null   |
|category                    |string                                                        |null   |
|job                         |string                                                        |null   |
|characters                  |string                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_principals                                              |       |
|Owner                       |root                                                          |       |
|Created Time                |Mon May 22 19:12:57 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684782777]                            |       |
|Location                    |file:/content/spark-warehouse/title_principals                |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|writers                     |string                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_crew                                                    |       |
|Owner                       |root                                                          |       |
|Created Time                |Mon May 22 19:15:56 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684782956]                            |       |
|Location                    |file:/content/spark-warehouse/title_crew                      |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|parentTconst                |string                                                        |null   |
|seasonNumber                |string                                                        |null   |
|episodeNumber               |string                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_episode                                                 |       |
|Owner                       |root                                                          |       |
|Created Time                |Mon May 22 19:16:21 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684782981]                            |       |
|Location                    |file:/content/spark-warehouse/title_episode                   |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|tconst                      |string                                                        |null   |
|averageRating               |float                                                         |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_ratings                                                 |       |
|Owner                       |root                                                          |       |
|Created Time                |Mon May 22 19:16:42 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684783002]                            |       |
|Location                    |file:/content/spark-warehouse/title_ratings                   |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|titleId                     |int                                                           |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |title_akas                                                    |       |
|Owner                       |root                                                          |       |
|Created Time                |Mon May 22 19:16:46 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684783006]                            |       |
|Location                    |file:/content/spark-warehouse/title_akas                      |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

+----------------------------+--------------------------------------------------------------+-------+
|col_name                    |data_type                                                     |comment|
+----------------------------+--------------------------------------------------------------+-------+
|nconst                      |string                                                        |null   |
|primaryName                 |string                                                        |null   |
|                            |                                                              |       |
|# Detailed Table Information|                                                              |       |
|Catalog                     |spark_catalog                                                 |       |
|Database                    |default                                                       |       |
|Table                       |name_basics                                                   |       |
|Owner                       |root                                                          |       |
|Created Time                |Mon May 22 19:17:45 UTC 2023                                  |       |
|Last Access                 |UNKNOWN                                                       |       |
|Created By                  |Spark 3.4.0                                                   |       |
|Type                        |MANAGED                                                       |       |
|Provider                    |hive                                                          |       |
|Table Properties            |[transient_lastDdlTime=1684783065]                            |       |
|Location                    |file:/content/spark-warehouse/name_basics                     |       |
|Serde Library               |org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe   |       |
|InputFormat                 |org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat|       |
|Storage Properties          |[serialization.format=1]                                      |       |
|Partition Provider          |Catalog                                                       |       |
+----------------------------+--------------------------------------------------------------+-------+

Вопрос №0 (не оценивается, показан, как пример). Сколько произведений имеют средний рейтинг выше заданного {threshold}?

In [ ]:
query_0 = """
/*
  Чтобы посчитать количество произведений находим все рейтинги больше, чем заданный порог.
  Так как надо найти все произведения, а не только фильмы, нам не нужно делать фильтр по типу произведения titleType
*/
SELECT
  COUNT(tconst) as cnt_above_threshold
FROM  title_ratings
WHERE averageRating > {threshold};
"""
sql(query_0, threshold = 5.0).show(truncate=False)

+-------------------+
|cnt_above_threshold|
+-------------------+
|1029097            |
+-------------------+

Вопрос №1. Найдите среднюю продолжительность (title_basics:runtimeMinutes) фильмов (title_basics:titleType=movie) определенного жанра {genre}.

Среднюю продолжительность надо рассчитать только для тех фильмов, где title_basics:runtimeMinutes не равен NULL.

In [ ]:
query_1 = """
SELECT COALESCE(AVG(runtimeMinutes),0) as AVG_Time
FROM title_basics
WHERE titleType = 'movie'
  AND LOWER(genres) LIKE LOWER({genre})
  AND runtimeMinutes IS NOT NULL;
"""

sql(query_1, genre = 'Comedy').show(truncate=False)

+----------------+
|AVG_Time        |
+----------------+
|92.5809266708541|
+----------------+

Вопрос №2. Сколько фильмов (title_basics:titleType=movie) определенного жанра (title_basics:genres) {genre} было выпущено в определенный год (title_basics:startYear) {year}?

In [ ]:
query_2 = """
SELECT COUNT(*) as count
FROM title_basics WHERE titleType = 'movie'
AND startYear = {year} AND LOWER(genres) LIKE LOWER({genre});
"""

sql(query_2, genre = 'Comedy', year = 2022).show(truncate=False)

+-----+
|count|
+-----+
|203  |
+-----+

Вопрос №3. Сколько фильмов определенного жанра (title_basics:genres) {genre}, в которых снялся конкретный актер (name_basics:primaryName) {actor}, имеют средний рейтинг (title_ratings:averageRating) выше заданного порога {threshold}?

In [ ]:
query_3 = """
SELECT COUNT(DISTINCT title_basics.tconst) as movie_count
FROM title_basics
JOIN title_ratings ON title_basics.tconst = title_ratings.tconst
JOIN title_principals ON title_basics.tconst = title_principals.tconst
JOIN name_basics ON title_principals.nconst = name_basics.nconst
WHERE LOWER(title_basics.genres) LIKE LOWER({genre})
  AND LOWER(name_basics.primaryName) LIKE LOWER({actor})
  AND title_principals.category = 'actor'
  AND titleType = 'movie'
  AND title_ratings.averageRating > {threshold};

"""
sql(query_3, genre = 'Comedy', actor = 'James cAgney', threshold = 5.3).show(truncate = False)

+-----------+
|movie_count|
+-----------+
|20         |
+-----------+

Вопрос №4. Сколько телесериалов (title_basics:titleType=tvSeries) в определенном жанре (title_basics:genres) {genre} имеют более определенного количества (title_episode:seasonNumber > {seasons})?

In [ ]:
query_4 = """
SELECT COUNT(DISTINCT tb.tconst) AS count
  FROM title_basics tb
  JOIN title_episode te ON tb.tconst = te.parentTconst
 WHERE tb.titleType = 'tvSeries'
   AND LOWER(tb.genres) LIKE LOWER({genre})
   AND te.seasonNumber > {seasons}

"""
sql(query_4, genre = 'Comedy', seasons = 7).show(truncate = False)

+-----+
|count|
+-----+
|995  |
+-----+

Вопрос № 5. Сколько фильмов (title_basics:titleType=movie)  создал конкретный сценарист (title_crew:writers, name_basics:primaryName) {writer} в определенном жанре (title_basics:genres) {genre}?

In [ ]:
query_5  = """
SELECT COUNT(*) as movie_count
FROM title_basics
JOIN title_crew ON title_basics.tconst = title_crew.tconst
JOIN name_basics ON name_basics.nconst = title_crew.writers
WHERE title_basics.titleType = 'movie'
AND LOWER(name_basics.primaryName) = LOWER({writer})
AND LOWER(title_basics.genres) LIKE LOWER({genre})
"""

sql(query_5, genre = 'Comedy', writer = 'Woody Allen').show(truncate=False)

+-----------+
|movie_count|
+-----------+
|48         |
+-----------+

In [ ]:
# PLEASE DO NOT REMOVE THIS CELL

# Generate answers
for n in range(1, 6):
  print(f"-- answer {n}\n " + globals()[f"query_{n}"] + ";\n")

-- answer 1

SELECT AVG(runtimeMinutes)
FROM title_basics
WHERE titleType = 'movie'
  AND LOWER(genres) LIKE LOWER({genre})
  AND runtimeMinutes IS NOT NULL;
;

-- answer 2

SELECT COUNT(*) as count
FROM title_basics WHERE titleType = 'movie'
AND startYear = {year} AND LOWER(genres) LIKE LOWER({genre});
;

-- answer 3

SELECT COUNT(*) as movie_count
FROM title_basics
JOIN title_ratings ON title_basics.tconst = title_ratings.tconst
JOIN title_principals ON title_basics.tconst = title_principals.tconst
JOIN name_basics ON title_principals.nconst = name_basics.nconst
WHERE LOWER(title_basics.genres) LIKE LOWER({genre})
  AND LOWER(name_basics.primaryName) = LOWER({actor})
  AND title_ratings.averageRating > {threshold};

;

-- answer 4

SELECT COUNT(DISTINCT tb.primaryTitle) AS count
  FROM title_basics tb
  JOIN title_episode te ON tb.tconst = te.parentTconst
 WHERE tb.titleType = 'tvSeries'
   AND LOWER(tb.genres) LIKE LOWER({genre})
   AND te.seasonNumber > {seasons}

;